@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: clip;
}

body {
  background: var(--background-color);
}

@media (min-width: 1024px) {
  body {
    background: radial-gradient(
        circle at var(--gradient-position-x) var(--gradient-position-y),
        rgba(23, 60, 146, 0.633),
        transparent 20%
      ),
      var(--background-color);
  }
}



:root {
  color: aliceblue;
  --background-color: #0f172a;
  --gradient-position-x: 0px;
  --gradient-position-y: 0px;
  font-family: "Space Grotesk", sans-serif;
}

/* PALETTE */
.color-white {
  color: aliceblue;
}

.color-gray {
  color: #9ca3af;
}

.color-water {
  color: #52ced0;
}

/* SCROLLBAR */

body {
  --sb-track-color: #0f172a;
  --sb-thumb-color: #52ced0;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
